# Machine-specific configuration
[include]
    path = ~/.gitconfig.local

[user]
    name = Peter Hayes
    # email is in .gitconfig.local

[core]
  commitGraph = true
  fsmonitor = true
  pager = delta
  untrackedCache = true

[pager]
  branch = false

[feature]
  manyFiles = true

[push]
  default = current

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections

[init]
	defaultBranch = main

[advice]
	statusHints = false

[fetch]
	prune = true
  writeCommitGraph = true

[github]
	username = peterkhayes

[alias]
  # `git git` mistakes
  git = !exec git

  # simple aliases
  a = add 
  aa = add -A
  ap = add -p
  b = branch
  d = diff
  c = commit
  ca = commit -a
  cn = commit -n
  cnm = commit -nm
  cm = commit -m
  cam = commit -am
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  nb = checkout -b # "new branch"
  p = push
  pf = push -f
  r = rebase
  ri = rebase -i
  ra = rebase --abort
  rc = rebase --continue
  s = status

  # redo most recent commit
  redo = commit --amend --no-edit
  fix = redo -a

  # other common workflows
  wip = cam "WIP" -n
  fix-push = "!git fix && git pf"
  fp = fix-push
   
  # show recent work
  recent = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 40 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

