# Machine-specific configuration
[include]
    path = ~/.gitconfig.local

[user]
    name = Peter Hayes
    # email is in .gitconfig.local

[core]
  commitGraph = true
  fsmonitor = true
  pager = delta
  untrackedCache = true

[pager]
  branch = false

[feature]
  manyFiles = true

[push]
  default = current

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections

[init]
	defaultBranch = main

[advice]
	statusHints = false

[fetch]
	prune = true
  writeCommitGraph = true

[github]
	username = peterkhayes

[alias]
  a = add
  aa = add -A
  ap = add -p
  b = branch
  d = diff
  c = commit
  ca = commit -a
  cn = commit -n
  cnm = commit -nm
  cm = commit -m
  cam = commit -am
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  fix = commit --amend --no-edit -a
  nb = checkout -b
  p = push
  pf = push -f
  r = rebase
  ri = rebase -i
  ra = rebase --abort
  rc = rebase --continue
  redo = commit --amend --no-edit
  s = status
  wip = cam "WIP" -n
  fix-push = "!git fix && git pf"
  fp = fix-push

  sync-master = "!git fetch origin master:master"
  sync-main = "!git fetch origin main:main"
  sync-primary = "!git fetch origin $GIT_PRIMARY_BRANCH:$GIT_PRIMARY_BRANCH"
  sync-branch = "!git fresh && git rebase stable"
  sync-branch-master = "!git sync-master && git rebase master"
  sync = sync-branch
  fresh = "!git sync-master && git co stable && git pull --rebase origin stable"
  git = !exec git
  recent = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 40 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
